*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-width: 20rem;
  min-height: 100%;
  scroll-behavior: auto;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img,
picture,
video {
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

button,
[type='button'],
[type='submit'] {
  cursor: pointer;
}

a {
  color: inherit;
}

table {
  border-collapse: collapse;
}

:target {
  scroll-margin-block: 6rem;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
